{# Dywee\FaqBundle\views\FaqCategory\add.html.twig #}

{% extends 'DyweeFaqBundle::admin.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-6">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h1 class="box-title">
                        {{ 'faq.category.new'|trans }}
                    </h1>
                </div>
                <div class="box-body">
                    {% include 'DyweeFaqBundle:FaqCategory:form.html.twig' %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}