{# Dywee\FaqBundle\views\FaqCategory\add.html.twig #}

{% extends 'DyweeFaqBundle::admin.html.twig' %}

{% block body %}
    <h1>Nouveau regroupement de questions</h1>
    <p>&nbsp;</p>
    <div class="col-md-6">
        {% include 'DyweeFaqBundle:FaqCategory:form.html.twig' %}
    </div>

{% endblock %}